@import "libs";
@import "fonts";


* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Roboto, sans-serif;
}
h1 {
	font: bold 80px Roboto, sans-serif;
	padding-top: 155px;
	color: #1f1f24;
}
h2 {
	font: bold 54px Roboto, sans-serif;
	color: #262626;
}
h3 {
	font: normal 20px Roboto, sans-serif;
	color: #8993ad;
	margin-top: 35px;
}
button {
	margin-top: 96px;
	background-color: #ff4e2e;
	border: none;
	color: #fff;
	font-size: 18px;
	padding: 19px 72px;
	outline: none;
	cursor: pointer;
	font-family: Roboto, sans-serif;
	font-size: 18px;
	&:hover {
		background-color: #dc4328;
		transition: 0.5s;
	}
	&:not(:hover) {
		transition: 0.5s;
	}
	&.form__btn {
		width: 100%;
	}
}
.container {
	width: 1170px;
	margin: 0 auto;
}
.bg-gray {
	background-color: #fbfbfb;
}
.bg-svg {
	background-image: url(../img/ellipse.svg);
	background-repeat: no-repeat;
	background-position: 100% 100%;
}
.header, .footer-connect {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 29px;
	ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		font-family: Roboto, sans-serif;
		padding-top: 13px;
		margin-left: 5px;
		li {
			list-style: none;
			padding-right: 31px;
			a {
				&:hover {
					border-bottom: solid 1px #fc557c;
					transition: 0.5s;
				}
				&:not(:hover) {
					transition: 0.5s;
				}
			}
		}
	}
	a {
		text-decoration: none;
		color: #000;
		&:hover {
			text-decoration: none;
			color: #fc557c;
			transition: 0.4s;
		}
		&:not(:hover) {
			transition: 0.4s;
		}
	}
	input {
		padding: 12px 40px;
		color: #f53f4f;
		border: 1px solid #fc557c;
		background-color: rgba(0, 0, 0, 0);
		cursor: pointer;
		font-family: Roboto, sans-serif;
		font-size: 16px;
		max-height: 45px;
		width: 206px;
		outline: none;
		&:hover {
			background-color: #fc557c;
			color: #fff;
			font-weight: bold;
			transition: 0.7s;
		}
		&:not(:hover) {
			transition: 0.7s;
		}
	}
}
.header__drop-menu {
	cursor: pointer;
	display: none;
	span {
		display: block;
		background-color: #f7276b;
		width: 45px;
		height: 6px;
		margin-top: 21px;
		&:after {
			background-color: #f7276b;
			display: block;
			content: '';
			width: 45px;
			height: 6px;
			position: absolute;
			top: 37px;
		}
		&:before {
			background-color: #f7276b;
			display: block;
			content: '';
			width: 45px;
			height: 6px;
			position: absolute;
			top: 64px;
		}
	}
}
.drop-menu__mob-menu {
	display: none;
	width: 100%;
	position: fixed;
	height: 100%;
	background-color: #fff;
	z-index: 5;
	top: 0;
	left: 0;
	overflow: scroll;
}
.header__tel {
	font: bold 25px Roboto, sans-serif;
	padding-right: 26px;
	margin-left: 397px;
	padding-top: 6px;
}
.header__tel-mob {
	display: none;
	cursor: pointer;
}
.call__form input[type="text"], .call__form input[type="tel"],
.learn-more__form input[type="text"], .learn-more__form input[type="email"] {
	color: #000;
	margin: 10px 0 10px 0;
}
.header__call, .about__learn-more {
	background-color: rgba(0, 0, 0, 0.65);
	position: fixed;
	left: 0;
	top: 0;
	height: 120%;
	width: 100%;
	z-index: 5;
	display: none;
	overflow: scroll;
}
.call__form, .learn-more__form {
	background-color: #fff;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 450px;
	max-height: 100%;
	max-width: 400px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	z-index: 3;
}
.call__form {
	h2 {
		font-size: 30px;
		margin-bottom: 30px;
		width: 100%;
		text-align: center;
	}
}
.call__form label, .about__learn-more label {
	font-size: 14px;
	color: #8993ad;
	width: 100%;
}
.call__form input, .about__learn-more input {
	padding: 12px 10px;
	width: 250px;
}
.call__form input:hover, .about__learn-more input:hover {
	background-color: #fff;
	font-weight: normal;
	cursor: text;
}
.container-menu {
	width: 270px;
	margin: 0 auto;
	button {
		margin: 40px 0 0px;
	}
}
.form__close {
	display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 30px;
	font-size: 20px;
	height: 20px;
	margin: 20px 0 -30px 0;
	color: rgb(84, 84, 84);
	i {
		cursor: pointer;
	}
	&:hover {
		color: #ff2f96;
		transition: 0.5s;
	}
	&:not(:hover) {
		transition: 0.5s;
	}
}
.form__status {
	color: green;
	display: none;
	text-align: center;
	margin-top: 20px;
}
.menu__close {
	font-size: 30px;
    display: flex;
    justify-content: flex-end;
	padding: 50px 100px 0 0;
}
.about__learn-more {
	h2 {
		margin-bottom: 30px;
		font-size: 30px;
		text-align: center;
	}
	input {
		border: 1px solid #fc557c;
		outline: none;
	}
}
form {
	&.learn-more__form {
		button {
			margin-left: 0;
			padding: 15px 72px;
		}
	}
}
.up-page {
	position: fixed;
	left: 95%;
	top: 90%;
	width: 40px;
	height: 40px;
	background-color: #FF567D;
	cursor: pointer;
	border: solid 1px #fff;
	&:hover {
		background-color: #FF3D8D;
	}
	i {
		position: absolute;
		left: 11px;
		top: 10px;
		font-size: 20px;
		color: #fff;
	}
}
.about-symbols, .adaptive-symbols {
	position: absolute;
	font-family: Roboto, sans-serif;
	font-weight: bold;
	color: #fa098f;
	height: 0;
}
.about-symbols__div {
	font-size: 30px;
	margin-top: -15%;
	margin-left: 780px;
	-webkit-transform: rotate(-13deg);
	-ms-transform: rotate(-13deg);
	transform: rotate(-13deg);
	-webkit-transition: margin-top 2s;
	-o-transition: margin-top 2s;
	transition: margin-top 2s;
}
.about-symbols__div-two {
	font-size: 38px;
	margin-left: 185%;
	margin-top: 339px;
	position: relative;
	left: 200px;
	-webkit-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	transform: rotate(20deg);
	-webkit-transition: margin-left 1.4s;
	-o-transition: margin-left 1.4s;
	transition: margin-left 1.4s;
}
.about-symbols__bracket {
	font-size: 49px;
	margin-top: -303px;
	margin-left: -9%;
	-webkit-transform: rotate(25deg);
	-ms-transform: rotate(25deg);
	transform: rotate(25deg);
	-webkit-transition: margin-left 2s;
	-o-transition: margin-left 2s;
	transition: margin-left 2s;
}
.about-symbols__sharp {
	font-size: 58px;
	margin-top: 20px;
	margin-left: -5%;
	max-width: 50px;
	-webkit-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	transform: rotate(15deg);
	-webkit-transition: margin-left 1.5s;
	-o-transition: margin-left 1.5s;
	transition: margin-left 1.5s;
}
.about-symbols__slash {
	font-size: 41px;
	margin-left: -10%;
	margin-top: 222px;
	max-width: 100px;
	-webkit-transform: rotate(-25deg);
	-ms-transform: rotate(-25deg);
	transform: rotate(-25deg);
	-webkit-transition: margin-left 2s;
	-o-transition: margin-left 2s;
	transition: margin-left 2s;
}
.about-info {
	min-height: 637px;
	padding-top: 54px;
	padding-left: 3px;
	img {
		float: right;
		margin-right: -80px;
	}
	p {
		color: #8993ad;
		font: normal 25px Roboto, sans-serif;
		margin-top: 13px;
	}
	button {
		margin-top: 45px;
	}
}
.block-developer {
	padding: 87px 0 93px;
	text-align: center;
	button {
		margin-top: 90px;
		padding: 19px 59px;
	}
}
.block-developer__works {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 88px;
	img {
		margin-bottom: 11px;
	}
	p {
		font: normal 20px Roboto, sans-serif;
		color: #8993ad;
		line-height: 1.5;
	}
}
.works__layout, .works__adaptive, .works__frontend {
	margin-right: 60px;
}
.dev-examples {
	text-align: center;
	padding: 97px 0;
	h2 {
		text-align: center;
	}
	button {
		margin-top: 61px;
		padding: 19px 65px;
	}
}
.carousel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: -10px;
	margin-top: 98px;
}
.left-arrow {
	width: 60px;
    height: 60px;
    position: absolute;
    padding: 0 !important;
    margin-top: 120px !important;
    margin-left: -20px;
	cursor: pointer;
	background: none;
	z-index: 2;
	&:hover {
		background: none;
	}
}
.right-arrow {
	width: 60px;
	height: 60px;
	position: absolute;
	margin-left: 1140px;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	margin-top: 130px !important;
	padding: 0 !important;
	cursor: pointer;
	background: none;
	z-index: 2;
	&:hover {
		background: none;
	}
}
.owl-dots {
	display: block !important;
	button {
		margin: 0 3px;
	}
}
.owl-theme {
	.owl-dots {
		.owl-dot {
			span {
				background-color: #dadada !important;
			}
			&.active {
				span {
					background-color: #ff4e2e !important;
				}
			}
		}
	}
}
.adaptive {
	margin-top: 2px;
	min-height: 364px;
	background: -o-linear-gradient(70deg, #ff8f5a 35%, #ff2f96 60%);
	background: linear-gradient(20deg, #ff8f5a 35%, #ff2f96 60%);
}
.adaptive-symbols__bracket, .adaptive-symbols__bracket-two {
	position: relative;
	font-size: 50px;
	color: #fff;
}
.adaptive-symbols__bracket {
	left: 126px;
	top: 69px;
	-webkit-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	transform: rotate(30deg);
}
.adaptive-symbols__slash {
	position: relative;
	left: 1640px;
	top: 7px;
	font-size: 40px;
	color: #fff;
	-webkit-transform: rotate(-22deg);
	-ms-transform: rotate(-22deg);
	transform: rotate(-22deg);
}
.adaptive-symbols__sharp {
	position: relative;
	left: 244px;
	top: 148px;
	color: #fff;
	font-size: 54px;
	-webkit-transform: rotate(17deg);
	-ms-transform: rotate(17deg);
	transform: rotate(17deg);
}
.adaptive-symbols__div {
	position: relative;
	font-size: 37px;
	color: #fff;
	left: 1410px;
	top: 126px;
	-webkit-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	transform: rotate(20deg);
}
.adaptive-symbols__bracket-two {
	position: relative;
	left: 1750px;
	top: 30px;
	-webkit-transform: rotate(-18deg);
	-ms-transform: rotate(-18deg);
	transform: rotate(-18deg);
}
.adaptive-info {
	padding: 76px 118px;
	color: #fff;
	font: bold 44.6px Roboto, sans-serif;
	line-height: 1.35;
	p {
		margin-top: 28px;
		font: normal 18px Roboto, sans-serif;
		line-height: 1.7;
		padding-right: 100px;
	}
}
.footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 75px 0 74px 4px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.footer-links {
	ul {
		li {
			list-style: none;
			padding: 5px 0;
			font: normal 18px Roboto, sans-serif;
		}
	}
	a {
		text-decoration: none;
		color: #8993ad;
		&:hover {
			text-decoration: none;
			border-bottom: solid 1px #8993AD;
			transition: 2s;
		}
	}
}
.footer-contacts {
	font: normal 25px Roboto, sans-serif;
	padding-top: 4px;
	margin-left: 92px;
	width: 295px;
	a {
		text-decoration: none;
		color: #000;
		&:hover {
			color: #FC557C;
			transition: 0.7s;
		}
		&:not(:hover) {
			transition: 0.7s;
		}
	}
}
.footer-contacts__tel {
	padding-bottom: 29px;
	i {
		color: #f7276b;
		padding-right: 11px;
		font-size: 20px;
	}
}
.footer-contacts__mail {
	i {
		color: #f7276b;
		padding-right: 18px;
		font-size: 20px;
	}
}
.footer-connect {
	margin-right: 25px;
	display: block;
	padding: 0;
}
.footer-connect__social-icons {
	margin-top: 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	a {
		display: block;
		height: 100%;
	}
}
.social-icons__vk, .social-icons__fb, .social-icons__twtr, .social-icons__inst {
	background-image: url(../img/social.png);
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
}
.social-icons__vk:hover, .social-icons__fb:hover,
		.social-icons__twtr:hover, .social-icons__inst:hover {
	transform: scale(1.2);
	transition: 0.5s;
}
.social-icons__vk:not(:hover), .social-icons__fb:not(:hover),
		.social-icons__twtr:not(:hover), .social-icons__inst:not(:hover) {
	transition: 0.5s;
}
.social-icons__vk {
	background-position: left -26px center;
	margin-right: 15px;
}
.social-icons__fb {
	background-position: left -81px center;
	margin-right: 15px;
}
.social-icons__twtr {
	background-position: left -136px center;
	margin-right: 15px;
}
.social-icons__inst {
	background-position: left -191px center;
	margin-right: 15px;
}
.copyright {
	background-color: #31293c;
	text-align: center;
	font-family: Roboto, sans-serif;
	color: #fff;
	padding: 29px 0;
}


@import "media";
