---
title: Responsive Demo
subTitle: Responsive
nav: demos
description: How to use responsive options
sort: 2

tags:
- demo
- core
---

<div class="owl-carousel owl-theme">
	<div class="item"><h4>1</h4></div>
	<div class="item"><h4>2</h4></div>
	<div class="item"><h4>3</h4></div>
	<div class="item"><h4>4</h4></div>
	<div class="item"><h4>5</h4></div>
	<div class="item"><h4>6</h4></div>
	<div class="item"><h4>7</h4></div>
	<div class="item"><h4>8</h4></div>
	<div class="item"><h4>9</h4></div>
	<div class="item"><h4>10</h4></div>
	<div class="item"><h4>11</h4></div>
	<div class="item"><h4>12</h4></div>
</div>

{{#markdown }}
### Overview

> Responsive option can be used for setting breakpoints and additional options within. Try changing your browser width to see what happens with Items and Navigations.


#### About responsive option

Setting of the responsive is very simple. Structure of responsive option:

```
responsive : {

	// breakpoint from 0 up
	0 : {
		option1 : value,
		option2 : value,
		...
	},

	// breakpoint from 480 up
	480 : {
		option1 : value,
		option2 : value,
		...
	},

	// breakpoint from 768 up
	768 : {
		option1 : value,
		option2 : value,
		...
	}
}

```

### Key facts:

* Each breakpoint key can be a Number value (like in example) or a string: '480'.
* Owl has an in-built sort option but  it’s best to set from the smallest screens to the widest.
* Responsive options **always** overwrite top level setting