@font-face {
  font-family: 'Roboto'; 
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'); /* Modern Browsers */
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff'); /* Modern Browsers */
}

* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Roboto, sans-serif;
}
h1 {
	font: bold 80px Roboto, sans-serif;
    padding-top: 155px;
    color: #1f1f24;
}
h2 {
	font: bold 54px Roboto, sans-serif;
	color: #262626;
}
h3 {
	font: normal 20px Roboto, sans-serif;
	color: #8993ad;
	margin-top: 35px;
}
button {
	margin-top: 96px;
	background-color: #ff4e2e;
	border: none;
	color: #fff;
	font-size: 18px;
	padding: 19px 72px;
	outline: none;
	cursor: pointer;
	font-family: Roboto, sans-serif;
	font-size: 18px;
}
	button:hover {
		background-color: #dc4328;
		transition: 0.5s;
	}
		button:not(:hover) {
			transition: 0.5s;
		}

.container-fluid {
	/*min-width: 1920px;*/
}
.container {
	width: 1170px;
	margin: 0 auto;
}
.bg-gray {
	background-color: #fbfbfb;
}
.bg-svg {
	background-image: url(../img/ellipse.svg);
	background-repeat: no-repeat;
	background-position: 100% 100%;
	/*background-size: contain;*/
}



.header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #fbfbfb;
	padding-top: 29px;
}
	.header ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		font-family: Roboto, sans-serif;
		padding-top: 13px;
		margin-left: 5px;
	}
		.header ul li {
			list-style: none;
			padding-right: 31px;
		}
		.header ul li a:hover {
			border-bottom: solid 1px #fc557c;
			transition: 0.5s;
		}
			.header ul li a:not(:hover) {
				transition: 0.5s;
			}
	.header a {
		text-decoration: none;
		color: #000;
	}
		.header a:hover {
			text-decoration: none;
			color: #fc557c;
			transition: 0.4s;
		}
			.header a:not(:hover) {
				transition: 0.4s;
			}
.header__drop-menu {
	margin-left: -19px;
	cursor: pointer;
	display: none;
}
.header__drop-menu span {
	display: block;
	background-color: #f7276b;
	width: 45px;
	height: 6px;
	margin-top: 21px;
}
	.header__drop-menu span:after {
		background-color: #f7276b;
	    display: block;
	    content: '';
	    width: 45px;
	    height: 6px;
	    position: absolute;
	    top: 37px;
	}
	.header__drop-menu span:before {
		background-color: #f7276b;
	    display: block;
	    content: '';
	    width: 45px;
	    height: 6px;
	    position: absolute;
	    top: 64px;
	}
.drop-menu__mob-menu {
	display: none;
	width: 100%;
	position: fixed;
	height: 100%;
	background-color: #fff;
	z-index: 5;
	top: 0;
	left: 0;
	overflow: scroll;
}
	
.header__tel {
	font: bold 25px Roboto, sans-serif;
	padding-right: 26px;
	margin-left: 397px;
	padding-top: 6px;
}
.header__tel-mob {
	display: none;
	cursor: pointer;
}
.header input {
	padding: 12px 40px;
	color: #f53f4f;
	border: 1px solid #fc557c;
	background-color: #fff;
	cursor: pointer;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	max-height: 45px;
	width: 206px;
	outline: none;
}
	.header input:hover {
		background-color: #fc557c;
		color: #fff;
		font-weight: bold;
		transition: 0.7s;
	}
		.header input:not(:hover) {
			transition: 0.7s;
		}
.header__call, .about__learn-more {
	background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    left: 0;
    top: 0;
    height: 120%;
    width: 100%;
    z-index: 5;
    display: none;
    overflow: scroll;
}
.call__form, .learn-more__form {
	background-color: #fff;
	position: absolute;
	top: 15%;
    left: 40%;
	max-width: 400px;
	padding: 2% 0 3% 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 3;
}
	.call__form h2 {
		font-size: 30px;
		margin-bottom: 30px;
		width: 100%;
		text-align: center;
	}
	.call__form p, .about__learn-more p {
		margin: 10px 0 10px 0 !important;
		font-size: 14px !important;
		color: #8993ad;
		width: 100%;
	}
	.call__form input, .about__learn-more input {
		padding: 12px 10px;
    	width: 250px;
    	color: #758090;
	}
		.call__form input:hover, .about__learn-more input:hover {
			background-color: #fff;
			color: #758090;
			font-weight: normal;
			cursor: text;
		}
.container-menu {
	width: 270px;
	margin: 0 auto;
}
	.container-menu button {
		margin: 40px 0 100px;
	}
.form__close {
	font-size: 30px;
    color: rgb(84, 84, 84);
    background-color: rgb(255, 255, 255, 0);
    margin: auto 0 0 75% !important;
    float: right;
}
	.form__close:hover {
		background-color: rgb(255, 255, 255, 0);
		color: #ff2f96;
		transition: 0.5s;
	}
		.form__close:not(:hover) {
				transition: 0.5s;
			}
.about__learn-more h2 {
	margin-bottom: 30px;
	font-size: 30px;
	text-align: center;
}
.about__learn-more input {
	border: 1px solid #fc557c;
	outline: none;
}
	form.learn-more__form button {
		margin-left: 0;
		padding: 15px 72px;
	}



.about-symbols, .adaptive-symbols {
	position: absolute;
	font-family: Roboto, sans-serif;
	font-weight: bold;
	color: #fa098f;
	height: 0;
}

.about-symbols__div {
	font-size: 30px;
    margin-top: -15%;
    margin-left: 780px;
    -webkit-transform: rotate(-13deg);
        -ms-transform: rotate(-13deg);
            transform: rotate(-13deg);
  	-webkit-transition: margin-top 2s;
  	-o-transition: margin-top 2s;
  	transition: margin-top 2s;
}
.about-symbols__div-two {
	font-size: 38px;
	margin-left: 185%;
    margin-top: 339px;
    position: relative;
    left: 200px;
    -webkit-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
            transform: rotate(20deg);
  	-webkit-transition: margin-left 1.4s;
  	-o-transition: margin-left 1.4s;
  	transition: margin-left 1.4s;
}
.about-symbols__bracket {
	font-size: 49px;
	margin-top: -303px;
	margin-left: -9%;
    -webkit-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
            transform: rotate(25deg);
  	-webkit-transition: margin-left 2s;
  	-o-transition: margin-left 2s;
  	transition: margin-left 2s;
}
.about-symbols__sharp {
	font-size: 58px;
	margin-top: 20px;
	margin-left: -5%;
	max-width: 50px;
    -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
            transform: rotate(15deg);
  	-webkit-transition: margin-left 1.5s;
  	-o-transition: margin-left 1.5s;
  	transition: margin-left 1.5s;
}
.about-symbols__slash {
	font-size: 41px;
	margin-left: -10%;
	margin-top: 222px;
	max-width: 100px;
    -webkit-transform: rotate(-25deg);
        -ms-transform: rotate(-25deg);
            transform: rotate(-25deg);
  	-webkit-transition: margin-left 2s;
  	-o-transition: margin-left 2s;
  	transition: margin-left 2s;
}



.about-info {
	min-height: 637px;
	padding-top: 54px;
	padding-left: 3px;
}
	.about-info img {
		float: right;
		margin-right: -80px;
	}
	.about-info p {
	    color: #8993ad;
	    font: normal 25px Roboto, sans-serif;
	    margin-top: 13px;
	}
	.about-info button {
		margin-top: 45px;
	}

.block-developer {
	padding: 87px 0 93px;
	text-align: center;
}
	.block-developer button {
		margin-top: 90px;
		padding: 19px 59px;
	}

.block-developer__works {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 88px;
}
	.block-developer__works img {
		margin-bottom: 11px;
	}
	.block-developer__works p {
		font: normal 20px Roboto, sans-serif;
		color: #8993ad;
		line-height: 1.5;
	}
	.works__layout, .works__adaptive, .works__frontend {
	    margin-right: 60px;
	}

.dev-examples {
	text-align: center;
	padding: 97px 0;
}
	.dev-examples h2 {
		text-align: center;
	}
	.dev-examples button {
		margin-top: 61px;
		padding: 19px 65px;
	}
.carousel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: -10px;
	margin-top: 98px;
}
	.left-arrow {
		width: 60px;
	    height: 60px;
	    position: absolute;
	    margin-top: 120px;
    	margin-left: -20px;
	    cursor: pointer;
	    z-index: 2
	}
	.right-arrow {
		width: 60px;
	    height: 60px;
	    position: absolute;
	    margin-left: 1140px;
	    -webkit-transform: rotate(180deg);
	        -ms-transform: rotate(180deg);
	            transform: rotate(180deg);
	    margin-top: 120px;
	    cursor: pointer;
	    z-index: 2
	}
/*.item {
	padding-left: 20px;
	padding-right: 8px;
}*/
.owl-dots {
    display: block !important;
}
	.owl-dots button {
		margin: 0 3px;
	}
.owl-theme .owl-dots .owl-dot span {
		background-color: #dadada !important;
	}
		.owl-theme .owl-dots .owl-dot.active span {
			background-color: #ff4e2e !important;
		}


.adaptive {
	margin-top: 2px;
	min-height: 364px;
	background: -o-linear-gradient(70deg, #ff8f5a 35%, #ff2f96 60%);
	background: linear-gradient(20deg, #ff8f5a 35%, #ff2f96 60%);
}

.adaptive-symbols__bracket, .adaptive-symbols__bracket-two {
	position: relative;
	font-size: 50px;
	color: #fff;
}
.adaptive-symbols__bracket {
	left: 126px;
	top: 69px;
	-webkit-transform: rotate(30deg);
	    -ms-transform: rotate(30deg);
	        transform: rotate(30deg);
}
.adaptive-symbols__slash {
	position: relative;
	left: 1640px;
	top: 7px;
	font-size: 40px;
	color: #fff;
	-webkit-transform: rotate(-22deg);
	    -ms-transform: rotate(-22deg);
	        transform: rotate(-22deg);
}
.adaptive-symbols__sharp {
	position: relative;
	left: 244px;
	top: 148px;
	color: #fff;
	font-size: 54px;
	-webkit-transform: rotate(17deg);
	    -ms-transform: rotate(17deg);
	        transform: rotate(17deg);
}
.adaptive-symbols__div {
	position: relative;
	font-size: 37px;
	color: #fff;
	left: 1410px;
	top: 126px;
	-webkit-transform: rotate(20deg);
	    -ms-transform: rotate(20deg);
	        transform: rotate(20deg);
}
.adaptive-symbols__bracket-two {
	position: relative;
	left: 1750px;
	top: 30px;
    -webkit-transform: rotate(-18deg);
        -ms-transform: rotate(-18deg);
            transform: rotate(-18deg);
}


.adaptive-info {
	padding: 76px 118px;
	color: #fff;
	font: bold 44.6px Roboto, sans-serif;
	line-height: 1.35;
}
	.adaptive-info p {
		margin-top: 28px;
		font: normal 18px Roboto, sans-serif;
		line-height: 1.7;
		padding-right: 100px;
	}



.footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 75px 0 74px 4px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.footer-links ul li {
	list-style: none;
	padding: 5px 0;
	font: normal 18px Roboto, sans-serif;
}
.footer-links a {
	text-decoration: none;
	color: #8993ad;
}
	.footer-links a:hover {
		text-decoration: none;
		border-bottom: solid 1px #8993AD;
		transition: 2s;
	}

.footer-contacts {
	font: normal 25px Roboto, sans-serif;
	padding-top: 4px;
	margin-left: 92px;
	width: 295px;
}
	.footer-contacts a {
		text-decoration: none;
		color: #000;
	}
		.footer-contacts a:hover {
			color: #FC557C;
			transition: 0.7s;
		}
		.footer-contacts a:not(:hover) {
				transition: 0.7s;
			}
	.footer-contacts__tel {
		padding-bottom: 29px;
	}
		.footer-contacts__tel i {
			color: #f7276b;
			padding-right: 11px;
			font-size: 20px;
		}
		.footer-contacts__mail i {
			color: #f7276b;
			padding-right: 18px;
			font-size: 20px;
		}

.footer-connect {
	margin-right: 25px;
}
	.footer-connect input {
		padding: 12px 60px;
		color: #f53f4f;
		border: 1px solid #fc557c;
		background-color: #fff;
		cursor: pointer;
		font-size: 16px;
		font-family: Roboto, sans-serif;
		outline: none;
	}
	.footer-connect input:hover {
		background-color: #fc557c;
		color: #fff;
		transition: 0.7s;
	}
		.footer-connect input:not(:hover) {
				transition: 0.7s;
			}

.footer-connect__social-icons {
	margin-top: 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
	.footer-connect__social-icons a {
		display: block;
		height: 100%;
	}
	.social-icons__vk, .social-icons__fb, .social-icons__twtr, .social-icons__inst {
		background-image: url(../img/social.png);
		background-repeat: no-repeat;
		width: 40px;
	    height: 40px;
	}
		.social-icons__vk:hover, .social-icons__fb:hover,
		.social-icons__twtr:hover, .social-icons__inst:hover {
			transform: scale(1.2);
			transition: 0.5s;
		}
		.social-icons__vk:not(:hover), .social-icons__fb:not(:hover),
		.social-icons__twtr:not(:hover), .social-icons__inst:not(:hover) {
			transition: 0.5s;
		}
		.social-icons__vk {
	    	background-position: left -26px center;
	    	margin-right: 15px;
		}
		.social-icons__fb {
			background-position: left -81px center;
			margin-right: 15px;
		}
		.social-icons__twtr {
			background-position: left -136px center;
			margin-right: 15px;
		}
		.social-icons__inst {
			background-position: left -191px center;
			margin-right: 15px;
		}


.copyright {
	background-color: #31293c;
	text-align: center;
	font-family: Roboto, sans-serif;
	color: #fff;
	padding: 29px 0;
}



@media screen and (max-width: 1850px) {
	.about-symbols {
		display: none;
	}
	.left-arrow, .right-arrow, .carousel__work-three {
		display: none;
	}
	.adaptive-symbols {
		display: none;
	}
}

@media screen and (max-width: 1505px) {
	.container {
		width: auto;
	}
	.header {
		padding: 29px 4% 0 6%;
	}
	.header__tel {
		margin-left: auto;
	}
	.about-info h1, .about-info p, .about-info button {
		margin-left: 5%;
	}
	.about-info img {
		margin-right: 5%;
	}
	.block-developer {
		margin: 0 150px;
	}
	.carousel {
		margin-left: 40px;
		margin-right: 40px;
	}
	.container-workspace {
		margin-left: 10%;
	}
	.adaptive-info {
		margin: 0 auto;
	}
	.footer {
		margin: 0 100px;
	}
}
@media screen and (max-width: 1350px) {
	h1 {
		margin-left: 40px;
		font-size: 54px;
	}


	.header__tel {
		margin-left: auto;
	}
	.block-developer__works {
		margin-top: 87px;
		flex-wrap: wrap;
		justify-content: space-between;
    	padding: 0px 150px;
	}
	.works__layout, .works__adaptive, .works__frontend, .works__fixes {
		margin-right: 0;
		margin-bottom: 77px;
		width: 260px;
	}

	.left-arrow, .right-arrow, .carousel__work-three {
		display: none;
	}
}
@media screen and (max-width: 1175px) {
	.about-info img {
		margin-right: 5%;
	}
	.block-developer {
	    margin: 0 100px;
	}
	/*.item1 {
		padding-left: 48px !important;
    	padding-right: 40px !important;
	}
	.item2 {
		padding-right: 66px !important;
    	padding-left: 23px !important;
	}
	.item1 img, .item2 img {
		width: 106% !important;
	}
	.item {
		padding-left: 48px;
		padding-right: 40px;
	}*/
		.item h3 {
			margin-top: 22px;
			font-size: 26px;
		}
	.owl-theme .owl-nav.disabled+.owl-dots {
		margin-top: 5px !important;
	}
		.owl-theme .owl-dots .owl-dot span {
			width: 20px !important;
			height: 20px !important;
		}
}
@media screen and (max-width: 1080px) {

	.about-info h1 {
		margin-left: 0;
	}
	.about-info button {
		padding: 20px 60px;
	}
	.about-info h1, .about-info p, .about-info button {
		margin-left: 20px;
	}
	.block-developer {
	    margin: 0;
	}
}
@media screen and (max-width: 1036px) {
	.about-info button {
		margin-top: 25px;
		font-family: Arial;
	}
}

@media screen and (max-width: 1024px) {
	h1 {
		font-size: 54px;
    	margin-left: 40px;
	}
	h3 {
		margin-top: 26px;
	}
	.container {
		width: auto;
	}
	.bg-svg {
		background-position: 206% 261%;
		background-size: auto;
	}

	.about-symbols {
		display: block;
	}
	.about-symbols__div {
		margin-top: 75px;
    	margin-left: 886px;
	}
	.about-symbols__div-two {
		margin-left: 20%;
    	margin-top: 134px;
    	width: 60%;
	}
	.about-symbols__bracket {
		margin-top: -27px;
    	margin-left: 4%;
	}
	.about-symbols__sharp {
		margin-top: 232px;
    	margin-left: 6%;
	}
	.about-symbols__slash {
		margin-left: 37%;
    	margin-top: -127px;
	}
	

	.header ul {
		display: none;
	}
	.header__tel {
		padding-top: 7px;
	}
	.header__drop-menu {
		display: block;
	}
		.mob-menu h2 {
			margin-top: 10%;
			text-align: center;
			clear: both;
		}
		.mob-menu ul {
			display: block;
			text-align: center;
			margin: 15% 0;
			font-size: 20px;
		}
		.mob-menu ul li {
			margin-bottom: 10px;
			padding: 0;
		}
	
	.about-info {
		padding-top: 58px;
	}
		.about-info h1 {
			margin-left: 39px;
			margin-top: 26px;
		}
		.about-info img {
			margin-right: 38px;
		}
		.about-info p {
			margin: 20px 0 0 40px;
		}
		.about-info input {
			margin: 46px 0 0 20px;
			font-size: 15px;
    		padding: 20px 82px;
		}
		.about-info button {
			margin: 45px 0 0 40px;
    		padding: 24px 97px;
		}
	.container-workspace {
		margin: 0 80px;
		margin-left: 40px;
	}
	

	.block-developer h2 {
		margin-right: 27px;
	}
	.block-developer button {
		margin-top: 21px;
		padding: 23px 84px;
	}
	
	.call__form, .learn-more__form {
		left: 30%;
	}
	.learn-more__form input {
		margin: 0;
		padding: 20px 30px;
	}
	.left-arrow, .right-arrow {
		display: none;
	}
	.dev-examples button {
		margin-top: 92px;
	    padding: 22px 85px;
	    font-size: 19px;
	}

	.adaptive {
		margin-top: 4px;
	}
	.adaptive-info {
		margin: 0 40px;
    	font-size: 45px;
    	padding: 74px 0 69px;
	}
		.adaptive-info p {
			line-height: 1.4;
		}
	.adaptive-symbols {
		display: block;
	}
		.adaptive-symbols__bracket {
			left: 154px;
		    top: 31px;
		    font-size: 30px;
		}
		.adaptive-symbols__slash {
			left: 872px;
    		top: 248px;
		}
		.adaptive-symbols__div {
			left: 512px;
    		top: 219px;
    		font-size: 25px;
		}
		.adaptive-symbols__bracket-two, .adaptive-symbols__sharp {
			display: none;
		}
	.footer {
		padding: 102px 17px 74px 40px;
		margin: auto;
	}
	.footer-contacts {
		margin-left: 0;
	}
	.copyright {
		padding: 27px 0;
    	font-size: 13px;
	}
}
	@media (max-width: 1020px) {
		.about-symbols {
			display: none;
		}
	}
@media screen and (max-width: 970px) {
	.adaptive-symbols {
		display: none;
	}
}
@media screen and (max-width: 860px) {
	.about-info button {
		padding: 24px 67px;
	}
	.block-developer__works {
		margin-left: 0;
		padding: 0 100px;
	}
	.works__fixes {
		left: 440px;
	}
}
@media screen and (max-width: 800px) {
	.bg-svg {
		background-position: 100% 411%;
	}

	.about-info button {
		margin: 46px 0 0 20px;
	}
}

@media screen and (max-width: 785px) {

	.about-info  {
		background-position: 260px 90px;
	}
	.about-info p {
    	font-size: 18px;
	}
	.about-info button {
		margin-left: 20px;
		padding: 20px 50px;
	}
	.about-info img {
		margin-right: 20px;
	}
	.carousel__work, .carousel__work-two, .carousel__work-three {
		margin-left: -20px;
	}
		.carousel__work img, .carousel__work-two img, .carousel__work-three img {
			width: 345px;
		}
}
@media screen and (max-width: 755px) {
	.about-info h1 {
	    font-size: 50px;
	}
}
@media screen and (max-width: 740px) {
	h1 {
		font-size: 54px;
		margin-left: 15%;
	}

	.call__form {
		left: auto;
		top: auto;
		min-width: 100%;
	}
	.about-info {
		height: 0;
		background-position: 115px 85px;
	}
		.about-info img {
			margin-right: 80px;
		}
		.about-info p {
			font-size: 25px;
			margin-left: 15%;
		}
		.about-info button {
			padding: auto;
			margin-left: 30%;
		}
	.learn-more__form {
		left: auto;
	    top: auto;
	    min-width: 100%;
	}
		button.form-btn {
		    margin-bottom: 100px;
		    width: 115%;
		}

	.block-developer {
		margin-top: 190px;
	}
	.works__frontend {
		top: 155%;
	}
	.works__fixes {
		top: 155%;
		left: 400px;
	}

	.footer {
		display: block;
		margin-top: -50px;
	}
	.footer-contacts {
		font-size: 20px;
		margin: 45px 0 20px;
	}
	.footer-contacts__mail i, .footer-contacts__tel i {
	    font-size: 15px;
	}

	.footer-connect input {
		background-color: #ff4e2e;
		border: none;
		color: #fff;
		font-size: 18px;
		padding: 23px 72px;
		outline: none;
		cursor: pointer;
		font-family: Roboto, sans-serif;
		font-size: 18px;
	}
}

@media screen and (max-width: 719px) {
	.block-developer__works {
		justify-content: center;
	}
}
@media screen and (max-width: 650px) {
	.header {
	    padding: 29px 5% 0 10%;
	}
}
@media screen and (max-width: 600px) {
	h1 {
		font-size: 50px;
	}

	.call__form input {
		display: block !important;
	}
	.about-info {
		height: 0;
    	background-position: -20% -380%;
	}
		.about-info img {
			margin-right: 20px;
		}
		.about-info p {
			font-size: 23px;
		}
		.about-info button {
			margin-left: 120px;
		}
	.header input {
		display: none;
	}
	.header__tel-mob {
		display: block;
		margin: auto;
	}
		.header__tel-mob img {
			width: 50px;
		}
	.block-developer {
		margin-top: 200px;
	}
	.works__frontend {
		top: 165%;
	}
	.works__fixes {
	    top: 183%;
	    left: 95px;
	}
	
}

@media screen and (max-width: 500px) {

	h1 {
		font-size: 30px;
	    margin-left: 20px;
	    padding-top: 650px;
	}
	h2 {
		font-size: 30px;
		padding-left: 0px;
	}
	h3 {
		margin-top: 15px;
    	font-size: 16px;
	}
	button {
		font-size: 16px;
		max-height: 55px;
		min-width: 280px;
		line-height: 0.6;
		margin-top: 30px;
	}
	.bg-svg {
		background-position: 60% 100%;
		background-size: 122%;
	}
	
	.header {
		padding-left: 25%;
	}
		.header input {
			display: none;
		}
	.header__drop-menu {
		margin-left: -78px;
	}
		.header__drop-menu span {
			margin-top: 20px;
			width: 31px;
			height: 4px;
		}
		.header__drop-menu span:before {
			top: 39px;
			width: 31px;
			height: 4px;
		}
		.header__drop-menu span:after {
			top: 58px;
			width: 31px;
			height: 4px;
		}
	button.form__close {
	    min-width: auto;
	}

	.header__tel {
		margin-left: 50px;
		font-size: 23px;
	}
	.header__tel-mob {
		margin-left: auto;
		margin-top: 5px;
	}
		.header__tel-mob img {
			width: 34px;
		}
	.about__learn-more, .header__call {
		background-color: rgb(255, 255, 255);
	}
		button.form__close {
		    font-size: 30px !important;
		    margin: 0 0 0 75% !important
		}
	.learn-more__form, .call__form {
		top: 0;
		left: 0;
		max-width: 100%;
		min-height: 50%;
	}
		.learn-more__form p, .call__form p {
			height: 0;
			font-size: 16px !important;
			padding: 0 0 20px 0 !important;
    		text-align: left !important;
		}
		.call__form p {
			font-size: 16px !important;
		}
		.learn-more__form input, .call__form input {
			display: block;
			margin: 0;
			font-size: 16px;
		    padding: 0 0 0 20px;
		    height: 50px;
		}

	.about-symbols__div {
		display: none;
	}
	.about-symbols__div-two {
		font-size: 20px;
	    margin-left: 256%;
	    margin-top: 241px;
	}
	.about-symbols__bracket {
		font-size: 31px;
	    margin-top: -85px;
	    margin-left: 140%;
	}
	.about-symbols__sharp {
		font-size: 38px;
	    margin-top: 100px;
	    margin-left: 102%;
	}
	.about-symbols__slash {
		font-size: 25px;
	    margin-left: 478%;
	    margin-top: -195px;
	}
	
	.about-info {
		margin-top: -157px;
		background-position: 20% 135%;
	    background-size: 500px;
	    max-height: 100px;
	}
		.about-info img {
			width: 297px;
		    margin-right: 20px;
		    padding-top: 198px;
		}
		.about-info h1 {
			margin-left: auto;
			margin-top: 3px;
		    font-size: 39px;
		    text-align: center;
		}
		.about-info p {
			margin: 9px 0 0 0px;
		    padding: 0px 45px;
		    font-size: 21px;
		    text-align: center;
		    line-height: 1.5;
		}
		.about-info button {
			margin: 30px 0 0 26px;
		    width: 364px;
		    padding: 30px 0 42px 0;
		    font-size: 21px;
		}
	
	.container-workspace {
		margin-left: 40px;
	}

	.block-developer {
		margin-top: 160px;
		padding-top: 80px;
		padding-bottom: 50px;
	}
		.block-developer h2 {
			padding-bottom: 0;
		    font-size: 39px;
		    text-align: center;
		    margin: 51px auto;
		}
		.block-developer button {
			margin-top: -7px;
			padding: 31px 93px 42px;
    		font-size: 21px;
		}
	.block-developer__works {
		flex-wrap: wrap;
		margin-top: 56px;
    	padding-left: 19%;
	}
		.block-developer__works p {
			font-size: 20px;
		}
	.works__layout {
		margin-bottom: 64px;
	}
	.works__adaptive {
		margin-bottom: 72px;
	}
	.works__frontend {
		margin-bottom: 69px;
	}

	.dev-examples {
		padding: 30px 0;
    	margin-top: 40px;
	}
		.dev-examples h2 {
			padding-bottom: 8px;
		    font-size: 41px;
		    line-height: 1.1;
		}
		.dev-examples button {
			margin-top: 56px;
		    padding: 30px 101px 42px;
		    font-size: 21px;
		}
	.carousel {
		margin-top: 72px;
	}
		.carousel button {
			min-width: auto;
		}
	/*.item {
		padding-left: 25px !important;
		padding-right: 23px !important;
	}
		.item h3 {
			margin-top: 24px;
		    font-size: 23.6px;
		    text-align: left;
		}
	.item1 img, .item2 img {
	    width: 100% !important;
	    height: 300px;
	}*/
	.owl-dots button {
			margin-top: 47px;
		}
		.owl-theme .owl-dots .owl-dot span {
		    width: 13px !important;
		    height: 13px !important;
		}

	.adaptive-symbols {
		display: none;
	}
	.adaptive-info {
		margin: 36px 20px;
	    padding: 53px 4px;
	    font-size: 36.4px;
	    line-height: 1.43;
	}
		.adaptive-info p {
			margin-top: 44px;
		    line-height: 2;
		    font-size: 19.5px;
		    padding: 0 0 0 4px;
		}
	
	.container1 {
		margin-left: 20px;
		font-size: 28px;
	}
		.container1 p {
			font-size: 15px;
		}

	.footer {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		margin: 0;
    	padding: 17px 0 70px 27px;
	}
	.footer-links ul li {
		font-size: 19px;
		padding: 9px 0;
	}
	.footer-contacts {
		font-size: 24px;
	    margin-top: 45px;
	    margin-left: 0;
	}
		.footer-contacts__mail i, .footer-contacts__tel i {
		    font-size: 19px;
		}
		.footer-contacts__mail i {
			padding-right: 16px;
		}
		.footer-contacts__tel a {
			padding-left: 5px;
		}

	.footer-connect input {
		background-color: #ff4e2e;
		border: none;
		color: #fff;
		font-size: 18px;
		padding: 23px 72px;
		outline: none;
		cursor: pointer;
		font-family: Roboto, sans-serif;
		font-size: 21px;
	    margin-top: 30px;
	    padding: 23px 99px;
	}
	.footer-connect__social-icons {
		margin-top: 65px;
	}
	
	.social-icons__vk, .social-icons__fb, .social-icons__twtr, .social-icons__inst {
		width: 50px;
		height: 50px;
		background-size: 310px;
	}
	.social-icons__vk {
		background-position: top -14px right -227px;
	}
	.social-icons__fb {
	    background-position: left -96px top -14px;
	}
	.social-icons__twtr {
		background-position: left -159px top -14px;
	}
	.social-icons__inst {
		background-position: left -231px top -14px;
	}

	.copyright {
		font-size: 16px;
	    padding: 23px 0;
	    margin-top: -17px;
	}
}

@media screen and (max-width: 392px) {
	.header__tel {
		font-size: 18px;
		margin-left: 37px;
	}
	.about-symbols__div-two {
	    margin-left: 150%;
	}
	.about-info button, .footer-connect input {
		width: 280px;
    	padding: 14px 0 42px 0;
	}
}

@media screen and (max-width: 320px) {
	.header {
		padding: 21px 0 29px;
	}
	.header__drop-menu {
		margin-left: 20px;
	}
		.header__drop-menu span {
			margin-top: 17px;
			width: 24px;
			height: 3px;
		}
		.header__drop-menu span:before {
			top: 30px;
			width: 24px;
			height: 3px;
		}
		.header__drop-menu span:after {
			top: 46px;
			width: 24px;
			height: 3px;
		}
	.header__tel-mob {
		margin-left: 6px;
	}
		.header__tel-mob img {
			width: 26px;
		}

	.about-symbols {
		display: block;
	}
	.about-symbols__div-two {
		font-size: 16px;
	    margin-left: 125%;
	    margin-top: 341px;
	}
	.about-symbols__bracket {
	    font-size: 25px;
	    margin-top: -67px;
	    margin-left: 134%;
	}
	.about-symbols__sharp {
	    font-size: 28px;
	    margin-top: 77px;
	    margin-left: 101%;
	}
	.about-symbols__slash {
	    font-size: 20px;
	    margin-left: 461%;
	    margin-top: -149px;
	}

	.about-info {
		margin-top: -284px;
	}
		.about-info img {
		    width: 229px;
		    margin-right: 17px;
		    padding-top: 302px;
		}
		.about-info h1 {
			margin-top: 0;
    		font-size: 30px;
		}
		.about-info p {
			font-size: 16px;
			margin-top: 6px;
		}
		.about-info button {
			padding: 23px 0;
			font-size: 16px;
			margin-top: 23px;
			margin-left: 23px;
		}

	.block-developer {
		margin-top: 205px;
    	padding-top: 20px;
	}
		.block-developer h2 {
			font-size: 30px;
			margin: auto;
		}
		.block-developer button {
		    width: 280px;
		    padding: 23px 0 23px;
		    font-size: 16px;
		    margin-top: 1px;
		    margin-left: 10px;
		}
	.block-developer__works {
	    margin-top: 42px;
	    padding: 0;
	}
		.block-developer__works img {
			margin-bottom: 12px;
			width: 60px;
		}
		.block-developer__works p {
			font-size: 16px;
		}
	.works__layout {
	    margin-bottom: 50px;
	}
	.works__adaptive, .works__frontend, .works__fixes {
		margin-bottom: 51px;
	}

	.dev-examples {
		margin-top: 16px;
	}
		.dev-examples h2 {
			padding-bottom: 0;
			font-size: 30px;
			margin: 0 30px;
		}
		.dev-examples button {
		    margin-top: 44px;
		    padding: 23px 0 23px;
		    font-size: 16px;
		}
	.carousel {
		margin-top: 44px;
		margin-left: 25px;
    	margin-right: 15px;
	}
		.item1 img, .item2 img {
			height: 251px;
		}
		.item h3 {
			margin-top: 17px;
	    	font-size: 17px;
		}
	.owl-theme .owl-nav.disabled+.owl-dots {
	    margin-top: -7px !important;
	    margin-left: 8px;
	}
		.owl-theme .owl-dots .owl-dot span {
	    width: 10px !important;
	    height: 10px !important;
	}

	.adaptive-info {
	    margin: 21px 15px;
	    padding: 41px 4px;
	    font-size: 28px;
	    line-height: 1.43;
	}
		.adaptive-info p {
		    margin-top: 33px;
		    font-size: 15px;
		}

	.footer {
		padding-left: 19px;
	}
		.footer-links ul li {
		    font-size: 15px;
		    padding: 8px 0;
		}
	.footer-contacts {
	    font-size: 20px;
	    margin-top: 29px;
	}
	.footer-contacts__tel {
	    padding-bottom: 22px;
	}
		.footer-contacts__mail i, .footer-contacts__tel i {
		    font-size: 14px;
		}
	.footer-connect input {
	    padding: 17px 0 19px 0;
	    margin-top: 6px;
	    font-size: 16px;
	}
	.footer-connect__social-icons {
	    margin-top: 47px;
	}
		.social-icons__vk, .social-icons__fb,
		.social-icons__twtr, .social-icons__inst {
		    width: 40px;
		    height: 40px;
		    background-size: 250px;
		}
		.social-icons__vk {
		    background-position: top -9px right -185px;
		}
		.social-icons__fb {
		    background-position: left -82px top -9px;
		}
		.social-icons__twtr {
		    background-position: left -137px top -9px;
		}
		.social-icons__inst {
		    background-position: left -193px top -9px;
		}
	.copyright {
	    font-size: 12px;
	    padding: 18px 0;
	    margin-top: -28px;
	}
}